@inherits LayoutComponentBase
@using Microsoft.EntityFrameworkCore
@using System.Runtime.InteropServices
@using h.Client.Services
@using h.Primitives.Users
@using h.Contracts.MultiplayerGames
@using h.Server.Infrastructure.Database
@inject NavigationManager _navigationManager

<head>
    <link rel="icon" type="image/svg+xml" href="/IMG/Logo/TdA_LOGO_erb.svg">
</head>

<header>
    <NavLink href="/">
        <img src="/IMG/Logo/Think-different-Academy_LOGO_oficialni_1 1.svg" id="TdA-logo">
    </NavLink>
    <div class="user">
        <AuthorizeView>
            <NotAuthorized>
                <img src="IMG/pfps/pfp-grey.svg" alt="">
                <div class="user-info">
                    <p id="nickname">Nepřihlášen</p>
                    <p id="login"><a href="@(PageRoutes.Auth.LoginIndexWithQuery(_navigationManager.Uri))" class="minor-link">Přihlásit se</a></p>
                </div>
            </NotAuthorized>
            <Authorized>
                <img src="/IMG/pfps/pfp-blue.svg" />

                @if (isGuest || context.User.IsInRole(nameof(UserRole.Admin)))
                {
                    // Guest || admin -> don't show elo
                    <div class="user-info">
                        <p id="nickname">@context.User.Identity!.Name</p>
                        <div class="elo-logout">
                            <p id="logout"><a href="@(PageRoutes.Auth.LogoutWithQuery(_navigationManager.Uri))" class="red-link">Odhlásit se</a></p>
                        </div>
                    </div>
                } 
                else {
                    // User
                    <a href="/user/board" class="user-info" style="cursor: pointer">
                        <p id="nickname">@context.User.Identity!.Name</p>
                        <div class="elo-logout">
                            <p id="elo">ELO: @(currentUser!.Elo.Rating)</p>
                            <p>•</p>
                            <p id="logout"><a href="@(PageRoutes.Auth.LogoutWithQuery(_navigationManager.Uri))" class="red-link">Odhlásit se</a></p>
                        </div>
                    </a>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</header>
<div class="display">
    <aside class="side-cont">
        <NavMenu/>
    </aside>
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
