
@using System.Data.SqlTypes
@using h.Client.Services

@attribute [Route(PageRoutes.Multiplayer.MultiplayerGame)]
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@layout GameLayout

<PageTitle>Ranked hra</PageTitle>

@* Try prevent navigation until game hasn't ended *@
<NavigationLock
    ConfirmExternalNavigation="!isGameEnded"
    OnBeforeInternalNavigation="HandleOnBeforeInternalNavigation" />

@if(isGameStarted)
{
    <div class="center">
        <h1>Hodnocená hra</h1>
        <div class="game-window">
            <div class="game-field"
            data-cell-hover-symbol="@(ourPlayer.Symbol.ToString())"
            data-hover-disabled="@(ourPlayer.Identity.SessionId != playerOnTurn.Identity.SessionId)">
                @for (int y = 0; y < 15; y++)
                {
                    <div class="game-field-row">
                        @for (int x = 0; x < 15; x++)
                        {
                            int id1D = y * 15 + x;
                            var xCopy = x;
                            var yCopy = y;

                            string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";
                            var symbol = gameField[y,x];

                            <div class="cell @(symbol == Primitives.Games.GameSymbol.None ? "empty" : "")"
                            style="width: 40px; background-color: @background;"
                            data-x="@xCopy"
                            data-y="@yCopy"
                            @onclick="async () => await HandlePlaceSymbol(xCopy, yCopy)">
                                @if(symbol != Primitives.Games.GameSymbol.None)
                                {
                                    <img src="@ResourceHelper.GetSymbolSrc(symbol)"/>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="game-info">
                <div class="players sheet">
                    <div class="player">
                        <img src="@ResourceHelper.GetSymbolSrc(gameDetails.Players[0].Symbol)" alt="">
                        <b class="username">@gameDetails.Players[0].Name</b>
                        <span class="elo">(@(gameDetails.Players[0].EloRating?.ToString() ?? "-"))</span>
                        <span class="timer @(GetClockCss(gameDetails.Players[0].Identity.SessionId))">@(GetRemainingClockTimeFormatted(gameDetails.Players[0].Identity.SessionId))</span>
                    </div>
                    <div class="vs">VS</div>
                    <div class="player">
                        <img src="@ResourceHelper.GetSymbolSrc(gameDetails.Players[1].Symbol)" alt="">
                        <b class="username">@gameDetails.Players[1].Name</b>
                        <span class="elo">(@(gameDetails.Players[1].EloRating?.ToString() ?? "-"))</span>
                        <span class="timer @(GetClockCss(gameDetails.Players[1].Identity.SessionId))">@(GetRemainingClockTimeFormatted(gameDetails.Players[1].Identity.SessionId))</span>
                    </div>
                </div>
                <div class="turn-info">
                    <div class="round sheet">
                        <p>@(TurnI). kolo</p>
                    </div>
                    <div class="turn sheet">
                        <img src="@ResourceHelper.GetSymbolSrc(playerOnTurn.Symbol)" alt="@playerOnTurn.Symbol.ToString()">
                    </div>
                </div>
                <button @onclick="HandleSurrender" class="secondary-button">Vzdát se</button>
                <p>Vzdaní se negativně ovlivní tvé ELO</p>
            </div>
        </div>
        <div class="game-tools">
            <div class="warning">
                <p>Použití automatizovaných herních klientů je zakázáno a bude trestáno zablokováním účtu.</p>
            </div>
        </div>
    </div>

    @if(isGameEnded) {
        <div class="win-popup">
            <div class="win-card">
                <div class="win-r1">
                    <h3>Gratulujeme!</h3>
                </div>
                <div class="win-r2">
                    <h3>VYHRÁVÁ HRÁČ</h3>
                    <div class="winner">
                        @if (gameEndedDetails!.Value.IsDraw)
                        {
                            // Draw
                            <span>draw</span>
                        }
                        else {
                            // Winner
                            @* <span>@sessionIdToPlayer[gameEndedDetails!.Value.WinnerId!.Value.SessionId].Name</span> *@
                            var winnerSymbol = ResourceHelper.GetSymbolSrc(sessionIdToPlayer[gameEndedDetails!.Value.WinnerId!.Value.SessionId].Symbol);
                            <img src="@winnerSymbol" alt="@sessionIdToPlayer[gameEndedDetails!.Value.WinnerId!.Value.SessionId].Symbol.ToString()" style="height: 15px; width: 15px">
                            @* <img src="/IMG/X/X_cervene.svg" alt="X" style="height: 15px; width: 15px"> *@
                            @* <img src="/IMG/O/O_modre.svg" alt="O" style="height: 15px; width: 15px"> *@
                        }
                    </div>
                </div>
                @if(gameEndedDetails!.Value.DidEloChange) {
                    <div class="elo-diff">
                        <div>
                            <p>@gameEndedDetails!.Value.OldElo</p>
                            <span>ELO před hrou</span>
                        </div>
                        <img src="/IMG/icons/arrow.svg" class="arrow" />
                        <div>
                            <p>@gameEndedDetails!.Value.NewElo</p>
                            <span>ELO po hře</span>
                        </div>
                    </div>
                }
                <div class="win-r3">
                    <div class="col-1">
                        <a class="back-to-list primary-button" href="@PageRoutes.Multiplayer.MatchmakingQueue">Zpět do fronty</a>
                        <a class="back-to-list secondary-button" href="@PageRoutes.HomeIndex">Odejít</a>
                    </div>
                    <div class="col-2">
                        <button disabled="@(requestedRevange || !gameEndedDetails!.Value.IsRevangePossible)" @onclick="HandleRequestRevange" class="primary-button">
                            @if (otherPlayerRequestedRevange)
                            {
                                <text>Přijmout odvetu</text>
                            }
                            else
                            {
                                <text>Nabídnout odvetu</text>
                            }
                        </button>
                        @if (otherPlayerRequestedRevange)
                        {
                            <span style="color: var(--clr-primary-600)">@gameDetails.Players[1].Name nabídl(a) odvetu</span>
                        }
                        else
                        {
                            <span style="color: var(--clr-gray-600)">Oba hráči musí souhlasit</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}