@using System.Data.SqlTypes
@using h.Client.Services

@attribute [Route(PageRoutes.Multiplayer.MultiplayerGame)]
@rendermode InteractiveWebAssembly
@layout GameLayout

<PageTitle>Ranked hra</PageTitle>

@*TODO: leave button and binding w BE*@
@if(isGameStarted)
{
    <div class="center">
        <h1>Hodnocená hra</h1>
        <div class="game-window">
            <div class="game-field" data-cell-hover-symbol="@(isPlayerX ? "X" : "O")">
                @for (int y = 0; y < 15; y++)
                {
                    <div class="game-field-row">
                        @for (int x = 0; x < 15; x++)
                        {
                            int id1D = y * 15 + x;
                            var xCopy = x;
                            var yCopy = y;

                            string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                            <div class="cell empty"
                                 style="width: 40px; background-color: @background;"
                                 data-x="@xCopy"
                                 data-y="@yCopy">
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="game-info">
                <div class="players sheet">
                    <div class="player">
                        <img src="/IMG/X/X_cervene.svg" alt="">
                        <b class="username">@gameDetails.Players[0].Name</b>
                        <span class="elo">(@(gameDetails.Players[0].EloRating?.ToString() ?? "-"))</span>
                        <span class="timer turn">08:00</span>
                    </div>
                    <div class="vs">VS</div>
                    <div class="player">
                        <img src="/IMG/O/O_modre.svg" alt="">
                        <b class="username">@gameDetails.Players[1].Name</b>
                        <span class="elo">(@(gameDetails.Players[1].EloRating?.ToString() ?? "-")</span>
                        <span class="timer">08:00</span>
                    </div>
                </div>
                <div class="turn-info">
                    <div class="round sheet">
                        <p>@(turnI). kolo</p>
                    </div>
                    <div class="turn sheet">
                        @if (xOnTurn)
                        {
                            turnDisplaySrc = "/IMG/X/X_cervene.svg";
                            turnDisplayAlt = "X";
                        }
                        else
                        {
                            turnDisplaySrc = "/IMG/O/O_modre.svg";
                            turnDisplayAlt = "O";
                        }
                        <img src=@turnDisplaySrc alt=@turnDisplayAlt>
                    </div>
                </div>
                <button class="secondary-button">Vzdát se</button>
                <p>Vzdaní se negativně ovlivní tvé ELO</p>
            </div>
        </div>
        <div class="game-tools">
            <div class="warning">
                <p>Použití automatizovaných herních klientů je zakázáno a bude trestáno zablokováním účtu.</p>
            </div>
        </div>
    </div>
}