@rendermode InteractiveWebAssembly

<div class="leaderboard-container">
    <h1 class="blue">Leaderboard</h1>
    <div class="pedestals">
        <div class="pedestal silver">
            @if (topNLeaderboardEntries?.Length > 1)
            {
                <p class="name">@topNLeaderboardEntries[1].Username</p>
                <p class="elo">ELO: @topNLeaderboardEntries[1].EloRating</p>
            }
            else
            {
                <p class="name">—</p>
                <p class="elo">ELO: —</p>
            }
            <img src="/IMG/Homepage/Pedestal/pedestal_silver.svg">
        </div>
        <div class="pedestal gold">
            @if (topNLeaderboardEntries?.Length > 0)
            {
                <p class="name">@topNLeaderboardEntries[0].Username</p>
                <p class="elo">ELO: @topNLeaderboardEntries[0].EloRating</p>
            }
            else
            {
                <p class="name">—</p>
                <p class="elo">ELO: —</p>
            }
            <img src="/IMG/Homepage/Pedestal/pedestal_gold.svg">
        </div>
        <div class="pedestal bronze">
            @if (topNLeaderboardEntries?.Length > 2)
            {
                <p class="name">@topNLeaderboardEntries[2].Username</p>
                <p class="elo">ELO: @topNLeaderboardEntries[2].EloRating</p>
            }
            else
            {
                <p class="name">—</p>
                <p class="elo">ELO: —</p>
            }
            <img src="/IMG/Homepage/Pedestal/pedestal_bronze.svg">
        </div>
    </div>

    <div class="leadertable">
        <table>
            @for (var i = 3; i < topNLeaderboardEntries?.Length; i++) 
            {
                var iCopy = i;
                var entry = topNLeaderboardEntries[iCopy];
                <tr>
                    <td class="place">@iCopy</td>
                    <td class="name">@entry.Username</td>
                    <td class="elo">ELO: @entry.EloRating</td>
                </tr>
            }
        </table>
    </div>
    <a href="/leaderboard" class="blue-link">Kompletní leaderboard</a>
</div>