@attribute [Route(PageRoutes.Leaderboard)]
@rendermode InteractiveWebAssembly

<PageTitle>Leaderboard</PageTitle>

<div class="sheet leaderboard">
    <h2 class="blue">Leaderboard</h2>
    <table class="leaderboard-list">
        <tbody>
            <Virtualize ItemsProvider="GetRows" OverscanCount="30">
                <ItemContent>
                    <tr>
                        <td class="place">@(context.Rank)</td>
                        <td class="name">
                            <a href="@PageRoutes.User.UserBoardWithParam(context.Uuid)"> @context.Username</a> @*TODO: get userid*@
                        </td>
                        <td class="elo">ELO: <b>@context.EloRating</b></td>
                        <td class="wins">
                            <img src="/IMG/icons/win.svg" />
                            @context.WinAmount
                        </td>
                        <td class="losses">
                            <img src="/IMG/icons/lose.svg" />
                            @context.LossAmount
                        </td>
                        <td class="draws">
                            <img src="/IMG/icons/draw.svg" />
                            @context.DrawAmount
                        </td>
                    </tr>
                </ItemContent>
            </Virtualize>
        </tbody>
    </table>
</div>