@using System.Diagnostics
@using System.Runtime.CompilerServices
@using h.Client.Services
@using h.Primitives.Games
@attribute [Route(PageRoutes.Game.GameIndex)]
@rendermode InteractiveWebAssembly
@layout NoNavLayout

<div class="win-popup" style="@(!showWinnerDialog ? "display: none" : "")">
    <div class="win-card">
        <div class="win-r1">
            <h3>Gratulujeme!</h3>
        </div>
        <div class="win-r2">
            <h3>VYHRÁVÁ HRÁČ</h3>
            <div class="winner">
                @if(didXWin)
                {
                    <img src="/IMG/X/X_cervene.svg" alt="X" style="height: 15px; width: 15px">
                } else
                {
                    <img src="/IMG/O/O_modre.svg" alt="O" style="height: 15px; width: 15px">
                }
            </div>
        </div>
        <div class="win-r3">
            <button class="new-game primary-button" @onclick="HandleNewGameClick">Nová hra</button>
            <a class="back-to-list secondary-button" href="@PageRoutes.Game.GameList">Zpět na výběr</a>
        </div>
    </div>
</div>
<div class="save-popup" style="@(!showSaveGameDialog ? "display: none" : "")">
    <div class="save-card">
        <div class="game-field mini" @ref="gameFieldRef">
            @if(saveModelBoard is not null)
            for (int y = 0; y < 15; y++)
            {
                @* "data-cell-hover-symbol" set via js *@
                <div class="game-field-row mini-row">
                    @for (int x = 0; x < 15; x++)
                    {
                        int id1D = y * 15 + x;
                        var xCopy = x;
                        var yCopy = y;
                        var symbol = saveModelBoard![y][x];
                        string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                        <div class="cell"
                             style="width: 25px; background-color: @background; border: none; display: flex; align-items: center; justify-content: center"
                             data-x="@xCopy"
                             data-y="@yCopy">
                            @if (!string.IsNullOrEmpty(symbol)) {
                                <img src="@(symbol.ToUpperInvariant() == "X" ? "/IMG/X/X_cervene.svg" : "/IMG/O/O_modre.svg")" />
                            }
                        </div>
                    }
                </div>

            }
        </div>
        <div class="save-info">
            <h2>Uložit úlohu</h2>
            <EditForm class="save-game-form" Model="saveGameModel" OnValidSubmit="HandleSaveGame">
                <input @bind="saveGameModel.Name" type="text" class="text-input" placeholder="Jméno úlohy" required>
                <HhDifficultySelector @bind-Value="saveGameModel.Difficulty"/>
                <button type="submit" class="save-game primary-button">Uložit hru</button>
                <button type="button" @onclick="() => showSaveGameDialog = false" class="exit-save-menu secondary-button">Zrušit</button>
            </EditForm>
        </div>
    </div>
</div>

<div class="card">
    <div class="primary-column">
        <div class="info-row">
            <a href="/game/list" class="to-games">
                <img src="/IMG/icons/end-game-arrow.svg" alt="back" style="height: 15px">
                <h3>Ukončit hru</h3>
            </a>
            <div class="game-name">
                <h2>@(loadedGame?.Name ?? "Nová hra")</h2>
            </div>
            <div class="turn">
                @if (xOnTurn)
                {
                    turnDisplaySrc = "/IMG/X/X_cervene.svg";
                    turnDisplayAlt = "X";
                }
                else
                {
                    turnDisplaySrc = "/IMG/O/O_modre.svg";
                    turnDisplayAlt = "O";
                }
                <img src=@turnDisplaySrc alt=@turnDisplayAlt>
            </div>
        </div>
        <div class="game-field" @ref="gameFieldRef" data-cell-hover-symbol="@(xOnTurn ? "X" : "O")">
            @for (int y = 0; y < 15; y++)
            {
                <div class="game-field-row">
                    @for (int x = 0; x < 15; x++)
                    {
                        int id1D = y * 15 + x;
                        var xCopy = x;
                        var yCopy = y;

                        string background = (id1D % 2 == 0) ? "#f9f9f9" : "white";

                        <div class="cell empty"
                             style="width: 50px; background-color: @background;"
                             data-x="@xCopy"
                             data-y="@yCopy">

                            @* Symbols added via js *@
                            @* Any inner content is removed when cell is placed !!! *@
                            @* <img src="" /> *@
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="secondary-column">
        <div class="round">
            <h3>@(turnI). kolo</h3>
        </div>
        @if(loadedGame is not null)
        {
            <div class="addit-info">
                <div class="info">
                    <h3 style="color: #0070BB">Obtížnost</h3>
                    <img style="width: 2rem" src="@(ResourceHelper.GetDifficultyBulbImgSrc(loadedGame.Value.Difficulty))"/>
                    @* <span>@loadedGame.Value.Difficulty.Name</span> *@
                </div>
                <div class="info">
                    <h3 style="color: #0070BB">Vytvoření hry</h3>
                    <span>@loadedGame.Value.CreatedAt.ToShortDateString()</span>
                </div>
                <div class="info">
                    <h3 style="color: #0070BB">Poslední úprava</h3>
                    <span>@loadedGame.Value.UpdatedAt.ToShortDateString()</span>
                </div>
            </div>
        }
        else // LoadedGame is null
        {
            <div class="save-game">
                <button @onclick="HandleOpenSaveDialog" class="save-game-btn primary-button">Uložit hru</button>
            </div>
        }
    </div>
</div>

