@attribute [Route(PageRoutes.Game.GameList)]
@rendermode InteractiveWebAssembly

<PageTitle>Výběr úloh</PageTitle>

<div class="vyber">
    <h2 class="game-list-h2">
        <span>Výběr úloh</span>
        <a href="/game" style="text-decoration: none"><button id="new-game">Hrát hru</button></a>
    </h2>
    
    <div class="game-cards">
        @if (gamesLoading)
        {

        }
        else
        {
            @foreach (var game in games!)
            {
                string imgSrc = "";
                string alt = "";

                @switch (game.Difficulty)
                {
                    case 0:
                        imgSrc = "/IMG/Difficulties/Zacatecnik/zarivka_beginner_modre.svg";
                        alt = "zacatecnik";
                        break;
                    case 1:
                        imgSrc = "/IMG/Difficulties/Jednoducha/zarivka_easy_modre.svg";
                        alt = "jednoducha";
                        break;
                    case 2:
                        imgSrc = "IMG/Difficulties/Stredni/zarivka_medium_modre.svg";
                        alt = "stredni";
                        break;
                    case 3:
                        imgSrc = "IMG/Difficulties/Tezka/zarivka_hard_modra.svg";
                        alt = "tezka";
                        break;
                    case 4:
                        imgSrc = "IMG/Difficulties/Extremni/zarivka_extreme_modre.svg";
                        alt = "extremni";
                        break;
                }

                <div class="card">
                    <div class="name-diff">
                        <h3>@game.Name</h3>
                        <img src=@imgSrc alt=@alt class="diff">
                    </div>

                    <div class="game-img">
                        @for (int i = 0; i < game.Board.Length; i++)
                        {
                            string elem = "";
                            string imgClass = "";
                            <div class="row">
                                @for (int j = 0; j < game.Board[i].Length; j++)
                                {
                                    @switch (game.Board[i][j])
                                    {
                                        case "X":
                                            elem = "/IMG/X/X_cervene.svg";
                                            imgClass = "small-x";
                                            alt = "X";
                                            break;
                                        case "O":
                                            elem = "/IMG/O/O_modre.svg";
                                            imgClass = "small-o";
                                            alt = "O";
                                            break;
                                        case "":
                                            elem = "";
                                            imgClass = "";
                                            alt = "";
                                            break;
                                    }

                                    @if (i % 2 == 0)
                                    {
                                        @if (j % 2 == 0)
                                        {
                                            <div class="col-dark">
                                                <img src="@elem" alt="@alt" class="@imgClass">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-light">
                                                <img src="@elem" alt="@alt" class="@imgClass">
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        @if (j % 2 == 0)
                                        {
                                            <div class="col-light">
                                                <img src="@elem" alt="@alt" class="@imgClass">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-dark">
                                                <img src="@elem" alt="@alt" class="@imgClass">
                                            </div>
                                        }
                                    }

                                }
                            </div>
                        }
                    </div>
                    <div class="action-row">
                        <button id="play"><img src="/IMG/icons/play.svg" alt="play"></button>
                        <div class="secondary-row">
                            <button id="edit"><img src="/IMG/icons/edit.svg" alt="edit"></button>
                            <button id="delete"><img src="/IMG/icons/red-bin.svg" alt="delete"></button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="filters">
    <h2 style=" color: #D5D5D5; ">Filtry</h2>
    
    <div class="selected">
        <span>Extremni</span>
        <span>POslednich 30 dnu</span>
        <span>"Armagedon"</span>
    </div>
    
    <div class="filter-wrapper">
        <div id="diff">
            <button class="filter-btn" onclick="toggleFilter(0)"><span>❯</span> Obtížnost</button>
            
            <div id="diff-unwrapped">
                <div class="option">
                    <input type="checkbox" value="1" name="1">
                    <span>Začátečník</span>
                </div>
                <div class="option">
                    <input type="checkbox" value="1" name="2">
                    <span>Jednoduchá</span>
                </div>
                <div class="option">
                    <input type="checkbox" value="1" name="3">
                    <span>Střední</span>
                </div>
                <div class="option">
                    <input type="checkbox" value="1" name="4">
                    <span>Těžká</span>
                </div>
                <div class="option">
                    <input type="checkbox" value="1" name="5">
                    <span>Extrémní</span>
                </div>
            </div>
        </div>
        <div id="date">
            <button class="filter-btn" onclick="toggleFilter(1)"><span>❯</span> Datum úpravy</button>
            
            <div id="date-unwrapped">
                <div class="option">
                    <input type="radio" value="1" name="date">
                    <span>1 den</span>
                </div>
                <div class="option">
                    <input type="radio" value="7" name="date">
                    <span>1 týden</span>
                </div>
                <div class="option">
                    <input type="radio" value="14" name="date">
                    <span>2 týdny</span>
                </div>
                <div class="option">
                    <input type="radio" value="30" name="date">
                    <span>1 měsíc</span>
                </div>
                <div class="option">
                    <input type="radio" value="90" name="date">
                    <span>3 měsíce</span>
                </div>
            </div>
        </div>
        <div id="name">
            <button class="filter-btn" onclick="toggleFilter(2)"><span>❯</span> Název úlohy</button>
            
            <div id="name-unwrapped">
                <input type="text" name="name" placeholder="Zadejte název úlohy">
            </div>
        </div>

        <div class="buttons">
            <button class="filtrovat">Filtrovat</button>
            <button class="zrusit">Zrušít filtry</button>
        </div>
    </div>
</div>

<script>
    var diffCont = document.getElementById("diff-unwrapped");
    var nameCont = document.getElementById("name-unwrapped");
    var dateCont = document.getElementById("date-unwrapped");
    
    function toggleFilter(filter) {
        switch (filter) {
            case 0:
                if (diffCont.style.display === "none") {
                    diffCont.style.display = "block";
                    document.querySelector("#diff .filter-btn").style.color = "#0070BB";
                    document.querySelector("#diff .filter-btn span").style.transform = "rotate(90deg)";
                }
                else {
                    diffCont.style.display = "none";
                    document.querySelector("#diff .filter-btn").style.color = "#D5D5D5";
                    document.querySelector("#diff .filter-btn span").style.transform = "rotate(0deg)";
                }
                break;
            case 1:
                if (dateCont.style.display === "none") {
                    dateCont.style.display = "block";
                    document.querySelector("#date .filter-btn").style.color = "#0070BB";
                    document.querySelector("#date .filter-btn span").style.transform = "rotate(90deg)";
                }
                else {
                    dateCont.style.display = "none";
                    document.querySelector("#date .filter-btn").style.color = "#D5D5D5";
                    document.querySelector("#date .filter-btn span").style.transform = "rotate(0deg)";
                }
                break;
            case 2:
                if (nameCont.style.display === "none") {
                    nameCont.style.display = "block";
                    document.querySelector("#name .filter-btn").style.color = "#0070BB";
                    document.querySelector("#name .filter-btn span").style.transform = "rotate(90deg)";
                }
                else {
                    nameCont.style.display = "none";
                    document.querySelector("#name .filter-btn").style.color = "#D5D5D5";
                    document.querySelector("#name .filter-btn span").style.transform = "rotate(0deg)";
                }
                break;
        }
    }

</script>