@using h.Client.Services
@attribute [Route(PageRoutes.User.RankedGameArchive)]
@* @rendermode InteractiveWebAssembly *@

@if(game is not null) {
    <PageTitle>Hra číslo @(game.Id)</PageTitle>
} else 
{
    <PageTitle>Archiv her</PageTitle>
}

@if(game is not null) {
    <div class="center">
        <h1>Archiv her</h1>
        <div class="sheet">
            <div class="gamedata-row">
                <h1 class="blue">Hra @game.Id</h1>
                <p>ze dne @game.PlayedAt.ToShortDateString()</p>
                <div class="gamedata-vs">
                    <div class="player">
                        <img src="@ResourceHelper.GetSymbolSrc(game.Player1Symbol)" alt="@game.Player1Symbol.ToString()">
                        <p>@player1Name</p>
                    </div>
                    <p class="vs">vs</p>
                    <div class="player">
                        <img src="@ResourceHelper.GetSymbolSrc(game.Player2Symbol)" alt="@game.Player2Symbol.ToString()">
                        <p>@player2Name</p>
                    </div>
                </div>
            </div>
            <a href="@(PageRoutes.User.UserGameHistoryWithParam(game.Player1Id))" class="backbutton blue" style="margin-bottom: 30px; display: block">Zpět do historie</a>
            <div class="split-sides">
                <div class="side">
                    <h2 class="blue">Poslední stav</h2>
                    <div class="mid-game sheet">
                        @for (int y = 0; y < 15; y++)
                        {
                            <div class="mid-row">
                                @for (int x = 0; x < 15; x++)
                                {
                                    int id1D = y * 15 + x;
                                    var xCopy = x;
                                    var yCopy = y;

                                    string background = (id1D % 2 == 0) ? "#efefef" : "#ffffff";
                                    var symbol = game.LastBoardState.GetSymbolAt(new(xCopy, yCopy));

                                    <div class="cell empty"
                                    style="width: 20px; background-color: @background; height: inherit"
                                    data-x="@xCopy"
                                    data-y="@yCopy">
                                        @if (symbol != Primitives.Games.GameSymbol.None)
                                        {
                                            <img src="@ResourceHelper.GetSymbolSrc(symbol)" style="width: 15px; height: 15px"/>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="side gameresult">
                    <div class="times">
                        <div class="player">
                            <p>Zbývající čas</p>
                            <img src="@ResourceHelper.GetSymbolSrc(game.Player1Symbol)" alt="@game.Player1Symbol.ToString()">
                        </div>
                        <h2 class="blue">@(game.Player1RemainingTimer.ToString(@"mm\:ss"))</h2>
                        <div class="player" style="margin-top: 40px">
                            <p>Zbývající čas</p>
                            <img src="@ResourceHelper.GetSymbolSrc(game.Player2Symbol)" alt="@game.Player2Symbol.ToString()">
                        </div>
                        <h2 class="blue">@(game.Player2RemainingTimer.ToString(@"mm\:ss"))</h2>
                    </div>
                    <div class="winner sheet">
                        @if(game.WinnerId is not null) {
                            var winnerSymbol = game.GetPlayerSymbol(game.WinnerId.Value);
                            <p>Výherce</p>
                            <img src="@ResourceHelper.GetSymbolSrc(winnerSymbol)" alt="@winnerSymbol.ToString()">
                        } else if(game.IsDraw) {
                            <p>Remíza</p>
                            <img src="/IMG/icons/draw.svg" alt="draw">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}