@using h.Client.Services

@attribute [Route(PageRoutes.User.UserGameHistory)]
@* @rendermode InteractiveWebAssembly *@

<PageTitle>Hry hráče evzen.rozinka</PageTitle>

<div class="userbanner">
    <div class="userbox sheet">
        <img src="/IMG/pfps/pfp-blue.svg" alt="">
        <p>evzen.rozinka</p>
    </div>
</div>

<div class="sheet game-history">
    <h2 class="blue">Historie her</h2>
    <table class="game-history-list">
        <thead class="game-history-head">
            <tr>
                <th>ID hry</th>
                <th>Datum</th>
                <th>Protivník</th>
                <th>Symbol</th>
                <th>Vyhrál</th>
                <th>Zobrazit hru</th>
            </tr>
        </thead>
        <tbody>
            @* <Virtualize Items="@allGames" Context="gameRecord"> *@
            @foreach (var gameRecord in allGames) {
                var opponentName = opponentsInGames?[gameRecord.FinishedRankedGame!.GetOpponentUserId(currentUser!.Uuid)];
                var winIcon = ResourceHelper.GetTrophyIcon(gameRecord.FinishedRankedGame!.DidWin(currentUser!.Uuid));
                var playeSymbolIcon = ResourceHelper.GetSymbolSrc(gameRecord.FinishedRankedGame!.GetPlayerSymbol(currentUser!.Uuid));
                
                <tr>
                    <td>@gameRecord.FinishedRankedGameId</td>
                    <td>@gameRecord.FinishedRankedGame!.PlayedAt</td>
                    <td>@(opponentName)</td>
                    <td>
                        <img src="@playeSymbolIcon" class="player-icon" />
                    </td>
                    @if (gameRecord.FinishedRankedGame.WinnerId == UserId)
                    {
                        <td>Tento hráč</td>
                    } else
                    {
                        <td>Protivník</td>
                    }
                    <td>
                        <a href="@PageRoutes.User.RankedGameArchiveWithParam(gameRecord.FinishedRankedGameId)" class="view">
                            <img src="/IMG/icons/view.svg" alt="">
                        </a>
                    </td>
                </tr>
            }
            @* </Virtualize> *@
        </tbody>
    </table>
</div>
